<h1>Modifica Inserzione</h1>
<%= form_for :property, url: property_path(@property), method: :patch do |p| %>

    <p>
        <%= p.label :titolo %><br>
        <%= p.text_field :titolo %>
    </p>


    <p>
        <%= p.label :descrizione %><br>
        <%= p.text_area :descrizione %>
    </p>

    <p>
        <%= p.label :prezzo %><br>
        <%= p.text_field :prezzo %>
    </p>

    <p>
        <%= p.submit %>
    </p>
<% end %>
