<h1>Modifica Inserzione</h1>
<%= form_for :property, url: property_path(@property), method: :patch do |p| %>
  <p>
    <%= p.label :titolo %><br>
    <%= p.text_field :title %><br>
  </p>

  <p>
    <%= p.label :descrizione %><br>
    <%= p.text_area :title %>
  </p>

  <p>
    <%= p.label :prezzo %><br>
    <%= p.text_field :price %><br>
  </p>

  <p>
    <%= p.label :sconto %><br>
    <%= p.text_field :offer %><br>
  </p>
  <p>
    <%= p.label :city %><br>
    <%= p.text_field :city %><br>
  </p>

  <p>
    <%= p.label "Immagine 1" %><br>
    <%= p.file_field :img1 %><br>
  </p>

  <p>
    <%= p.label "Immagine 2" %><br>
    <%= p.file_field :img2 %><br>
  </p>

  <p>
    <%= p.label "Immagine 3" %><br>
    <%= p.file_field :img3 %><br>
  </p>

  <p>
    <%= p.submit %>
  </p>
<% end %>
