<h1>Inserzioni</h1>
<%= link_to "+ Crea inserzione +", new_property_path %>
<% @properties.each do |p| %>
  <hr>
    <h3><%= p.titolo %></h3>
    <p><%= p.descrizione %></p>
    <p><%= p.prezzo %> €</p>
    <%= link_to "Vedi", property_path(p) %>
  <hr>
<% end %>
