
<h1>Crea Inserzione</h1>
<%= form_for :property, url: properties_path do |p| %>


  <p class="field">
    <%= p.label :titolo %><br>
    <%= p.text_field :titolo, :size=> 30 %><br>
  </p>

  <p >
    <%= p.label :descrizione %><br>
    <%= p.text_area :descrizione, :size=> 30 %>
  </p>

  <p class="field">
    <%= p.label :prezzo %><br>
    <%= p.text_field :prezzo, :size=> 30  %><br>
  </p>

  <p class="field" >
    <%= p.label :city %><br>
    <%= p.text_field :city, id: :address_city, :size=> 30, :placeholder=> "Inserisci la città" %><br>
  </p>


  <p>
    <%= p.label "Immagine 1" %><br>
    <%= p.file_field :img1 %><br>
  </p>

  <p>
    <%= p.label "Immagine 2" %><br>
    <%= p.file_field :img2 %><br>
  </p>

  <p>
    <%= p.label "Immagine 3" %><br>
    <%= p.file_field :img3 %><br>
  </p>

  <p>
    <%= p.submit %>
  </p>
<% end %>
<script>


  function initAutocomplete() {


    // Create the search box and link it to the UI element.
    var input = document.getElementById('address_city');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }


    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQIh8MGEehUptz2u7vr8JbRvyvB6mA4M8&libraries=places&callback=initAutocomplete"
     async defer></script>
