<h2>Titolo: <%= @property.titolo %></h2>
<p>Descrizione: <%= @property.descrizione %></p>
<p>Prezzo: <%= @property.prezzo %>€</p>
<p>Città: <%= @property.city %></p>
<p>Inserzione di: <%= @property.user.username %></p>

Immagini:
<% if @property.img1.present? %>
  <%= image_tag @property.img1.url(:medium) %>
<% end %>

<% if @property.img2.present? %>
  <%= image_tag @property.img2.url(:medium) %>
<% end %>

<% if @property.img3.present? %>
  <%= image_tag @property.img3.url(:medium) %>
<% end %>

<p><%= mail_to @property.user.email, "Vuoi prenotare? Contatta l'utente", subject: @property.titolo %></p>

<a class="twitter-share-button"
  href="https://twitter.com/share"
  data-size="large"
  data-text="Guarda questo locale: "
  data-url="https://dev.twitter.com/web/tweet-button"
  data-hashtags="example,demo"
  data-via="twitterdev"
  data-related="twitterapi,twitter">
  <img src="http://tweetforprofits.com/UltraVid/images/share-twitter.png" style="width:210px;height:45px;">
</a>

<hr><h3>Link utili:</h3>

<% if @property.user == current_user %>
	<%= link_to "Modifica", edit_property_path(@property) %><p/>
	<%= link_to "Elimina", property_path(@property),
			method: :delete,
		        data: {confirm: 'Are you sure?'},
			:class => 'btn btn-danger' %><p/>
<% end %>

<% if current_user != nil %>
	<% if current_user.favourites.exists?(@property.id) %>
		<%= link_to "Rimuovi dai preferiti", remove_from_f_property_path(@property), method: :post %><p/>
	<% else %>
		<%= link_to "Aggiungi ai preferiti", add_to_f_property_path(@property), method: :post %><p/>
	<% end %>

	<% if current_user.followings.exists?(@property.user.id) %>
		<%= link_to "Unfollow utente", unfollow_path(@property), method: :post %><p/>
	<% else %>
		<%= link_to "Follow utente", follow_path(@property), method: :post %><p/>
	<% end %>
<% end %>
