<h2>Titolo: <%= @property.titolo %></h2>
<p>Descrizione: <%= @property.descrizione %></p>
<p>Prezzo: <%= @property.prezzo %>€</p>
<p>Città: <%= @property.city %></p>
<p>Inserzione di:
<% if current_user.provider == nil %>
    <%= @property.user.username %></p>
<% else %>
    <%= @property.user.name %></p>
<% end %>

<% if @property.img1.present? %>
  <%= image_tag @property.img1.url(:medium) %>
<% end %>

<% if @property.img2.present? %>
  <%= image_tag @property.img2.url(:medium) %>
<% end %>

<% if @property.img3.present? %>
  <%= image_tag @property.img3.url(:medium) %>
<% end %>

<p><%= mail_to @property.user.email, "Vuoi prenotare? Contatta l'utente", subject: @property.titolo %></p>

<p><a class="twitter-share-button"
  href="https://twitter.com/share"
  data-size="large"
  data-text="Guarda questo locale: "
  data-url="https://dev.twitter.com/web/tweet-button"
  data-hashtags="example,demo"
  data-via="twitterdev"
  data-related="twitterapi,twitter">
  <img src="http://tweetforprofits.com/UltraVid/images/share-twitter.png" style="width:210px;height:45px;">
</a></p>

<p><% if @property.user == current_user %>
	<%= link_to "Modifica", edit_property_path(@property) %>
	<%= link_to "Elimina", property_path(@property),
			method: :delete,
		        data: {confirm: 'Are you sure?'},
			:class => 'btn btn-danger' %>
<% end %></p>

<hr><h2>Domande</h2>
<% @property.questions.each do |question| %>
  <p>
    <strong>• </strong>
    <% if current_user.provider == nil %>
        <%= question.user.username %>
    <% else %>
        <%= question.user.name %>
    <% end %>
    <br>
    <strong>- </strong><%= question.body %>
    <br>
    <%= link_to 'Vedi risposte', property_question_path(question) %>
    <% if current_user == question.user %>
      <%= link_to 'Elimina', [question.property, question],
               method: :delete,
               data: { confirm: 'Sei sicuro?' } %>
    <% end %>
  </p>
<% end %>

<% if current_user != nil %>
  <h2>Fai una domanda:</h2>
  <%= form_for([@property, @property.questions.build]) do |f| %>
    <p>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit "Invia" %>
    </p>
  <% end %>
<% end %>

<hr><h3>Link utili:</h3>

<% if current_user != nil %>
	<% if current_user.favourites.exists?(@property.id) %>
		<%= link_to "Rimuovi dai preferiti", remove_from_f_property_path(@property), method: :post %><p/>
	<% else %>
		<%= link_to "Aggiungi ai preferiti", add_to_f_property_path(@property), method: :post %><p/>
	<% end %>

	<% if current_user.followings.exists?(@property.user.id) %>
		<%= link_to "Unfollow utente", unfollow_path(@property), method: :post %><p/>
	<% else %>
		<%= link_to "Follow utente", follow_path(@property), method: :post %><p/>
	<% end %>
<% end %>
