<script>
  var set_stars = function(form_id, stars) {
    for (i=1; i<=5; i++) {
      if(i <= stars) {
        $('#' + form_id + '_' + i).addClass('on');
      }
      else {
        $('#' + form_id + '_' + i).removeClass('on');
      }
    }
  }

  $(function() {
    $('.rating_star').click(function() {
      var star = $(this);
      var form_id = $(this).attr('data-form-id');
      var stars = $(this).attr('data-stars');
      set_stars(form_id,stars);

      $('#' + form_id + '_stars').val(stars);

      $.ajax({
        type: "post",
        url: $('#' + form_id).attr('action'),
        data: $('#' + form_id).serialize()
      });
    });
  });
</script>

<div class="page-header">
  <h1><%= @property.title %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><b>Descrizione</b></div>
  <div class="panel-body">
    <div><%= @property.description %></div>
  </div>
</div>

<% if @property.img1.present? %>
  <%= image_tag @property.img1.url(:medium), :class => "img" %>
<% else %>
  <%= image_tag image_path("default_local.jpg") %>
<% end %>

<% if @property.img3.present? %>
  <%= image_tag @property.img3.url(:medium), :class => "img"  %>
<% end %>

<% if @property.img2.present? %>
  <%= image_tag @property.img2.url(:medium), :class => "img"  %>
<% end %>

<hr>

<% if @property.offer == nil %>
<h3><p><b>Prezzo: </b><%= @property.price %>€</p></h3>
<%else %>
<h3><b><del><%= @property.price %>€</del></b> <font style="color:red"><b><%= @property.offer %>€</b></font></h3>
<%end%>

<ul class='rating'>
  <% (1..5).each do |i| %>
    <% if i <= @property.valutation %>
      <li class="rating_star_review on"></li>
    <% else %>
      <li class="rating_star_review"></li>
    <% end %>
  <% end %>
</ul>

<br><br>

<p><b>Città: </b><%= @property.city %></p>

<p>
  <b>Categorie:</b>
  <% @property.categories.each do |c| %>
    <%= c %>
  <% end %>
</p>

<p><b>Inserzione di:</b>
<% if @property.user.provider == nil %>
    <%= @property.user.username %>
<% else %>
    <%= @property.user.name %>
<% end %>
(<%= link_to "Vedi altro dall'utente", summary_path(@property), method: :get %>)
</p>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <p>
        <strong>Proprietà nelle vicinanze:</strong>
        <% for p in @property.nearbys(10) %>
        <li>
          <%= link_to p.title, p %>, in  <%= p.city %> (<%= p.distance.round(2)%> km)
        </li>
        <% end %>
      </p>
      <p>
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=500x350&maptype=roadmap
      &markers=color:red%8Clabel:S%7C#{@property.latitude},#{@property.longitude}
      &key=AIzaSyB4bGTS4lIxDUcOJC8YZM3eAuyg-4JYPfQ "%>
      </p>
    </div>
  </div>
</div>

<hr>

<p>
  <h2>Disponibilità:</h2>
  <%= month_calendar events: @prenotations do |date, prenotations| %>
    <%= date.day %>
    <% prenotations.each do |prenotation| %>
      <div>
        <p style="color:red;">Riservato</p>
      </div>
    <% end %>
  <% end %>

  <% if @property.user == current_user %>
    <%= link_to "Modifica disponibilità", new_prenotation_path, :class => 'btn btn-primary'%>
  <% else %>
    <p><%= mail_to @property.user.email, "Vuoi prenotare? Contatta l'utente", subject: @property.title %></p>
  <% end %>
</p>

<hr />

<p><a class="twitter-share-button"
  href="https://twitter.com/share"
  data-size="large"
  data-text="Guarda questo locale: "
  data-url="https://dev.twitter.com/web/tweet-button"
  data-hashtags="example,demo"
  data-via="twitterdev"
  data-related="twitterapi,twitter">
  <img src="http://tweetforprofits.com/UltraVid/images/share-twitter.png" style="width:210px;height:45px;">
</a></p>

<% if current_user %>
  <p><% if @property.user == current_user || @property.user == current_user.admin %>
  	<%= link_to "Modifica", edit_property_path(@property), :class => 'btn btn-default' %>
	  <%= link_to "Elimina", property_path(@property),
		  	method: :delete,
		          data: {confirm: 'Are you sure?'},
			  :class => 'btn btn-danger' %>
  <% end %></p>
<% end %>
<hr>

<!-- ##########RECENSIONI########## -->

<div class='ratings'>
  <div class="panel panel-default">
  <div class="panel-heading"><b>Recensioni</b></div>
  <div class="panel-body">

      <% if @property.reviews.first == nil %>
        <h5> Non è ancora stata scritta alcuna recensione. </h5>
      <% else %>
        <% @property.reviews.each do |review| %>
          <div class="panel panel-default">
          <div class="panel-body">
            <p>
              <% if current_user.provider == nil %>
                <h4><%= review.user.username %></h4>
                <% if review.user.avatar.present? %>
                  <%= image_tag(review.user.avatar.url, size: "40x40") %>
                <% else %>
                  <%= image_tag(image_path("default_user.jpg"), size: "40x40") %>
                <% end %>
              <% else %>
                <h3><%= review.user.name %></h3>
                <%= image_tag review.user.image %>
              <% end %>
              <br>
              <b>Titolo: </b> <%= review.title %><br>
              <b>Descrizione:</b>
              <p><%= review.body %></p>
              <b>Valutazione:</b>
              <ul class='rating'>
                <% (1..5).each do |i| %>
                  <% if i <= review.valutation %>
                    <li class="rating_star_review on"></li>
                  <% else %>
                    <li class="rating_star_review"></li>
                  <% end %>
                <% end %>
              </ul>
            </p><br>
            <% if current_user == review.user || current_user.admin %>
                <%= link_to 'Elimina', [review.property, review],
                      method: :delete,
                      data: { confirm: 'Sei sicuro?' }, :class => 'btn btn-danger' %>
            <% end %>
          </div>
          </div>
        <% end %>
      <% end %><br>

      <% if current_user %>
        <h3>Scrivi una recensione:</h3>
        <%= form_for([@property, @property.reviews.build]) do |f| %>
          <p>
            <%= f.label "Titolo" %><br>
            <%= f.text_field(:title, size:'15', :class => "form-control") %>
          </p>
          <p>
            <%= f.label "Descrizione"%><br>
            <%= f.text_area :body, :class => "form-control"%>
          </p>
          <p>
            Valutazione: <%= f.select :valutation, ['1', '2', '3', '4', '5']%>
          </p>
          <p>
            <%= f.submit "Invia recensione", :class => 'btn btn-primary'%>
          </p>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<!-- ##########DOMANDE########## -->

<div class='question'>
  <div class="panel panel-default">
  <div class="panel-heading"><b>Domande</b></div>
  <div class="panel-body" >

      <% if @property.questions.first == nil %>
        <h5> Non è ancora stata fatta alcuna domanda. </h5><br>
      <% else %>
        <ul class='list_question'>
          <% @questions.each do |question| %>
            <li>
              <% if question.user.provider == nil %>
                <%= question.user.username %>
              <% else %>
                <%= question.user.name %>
              <% end %><br>
              <strong>-</strong><%= question.body %><br>

              Valutazione media:
              <%= question.valutation %>
              <% if current_user %>
                <% if question.user != current_user %>
                  <ul class='rating'>
                    <% form_id = "question_#{question.id}_rating" %>
                    <%= form_for question.ratings.last || question.ratings.build, :html => {:id => "question_#{question.id}_rating" } do |f| %>
                      <%= f.hidden_field :question_id %>
                      <%= f.hidden_field :stars, :id => "#{form_id}_stars" %>
                    <% end %>

                    <% stars = 0 %>
                    <% question.ratings.each do |r| %>
                      <% if current_user.ratings.find_by(:id => r.id) %>
                        <% stars = r.stars %>
                        <% break %>
                      <% end %>
                    <% end %>

                    <% (1..5).each do |i| %>
                      <% if i <= stars %>
                        <li class="rating_star on" data-stars="<%= i %>" data-form-id = "<%= form_id %>" id= "<%= "#{form_id}_#{i}" %>"></li>
                      <% else %>
                        <li class="rating_star" data-stars="<%= i %>" data-form-id = "<%= form_id %>" id= "<%= "#{form_id}_#{i}" %>"></li>
                      <% end %>
                    <% end %>
                  </ul><br>
                <% end %>
              <% end %>

              <%= link_to 'Vedi risposte', property_question_path(question) %>
              <% if current_user %>
                <% if current_user == question.user || current_user.admin %>
                  <%= link_to 'Elimina', [question.property, question],
                           method: :delete,
                           data: { confirm: 'Sei sicuro?' }, :class => 'btn btn-default' %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if current_user != nil %>
        <h3>Fai una domanda:</h3>
        <%= form_for([@property, @property.questions.build]) do |f| %>
          <p><%= f.text_area :body, :class => "form-control"%></p>
          <p><%= f.submit "Invia", :class => 'btn btn-primary'%></p>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<br class='clear'>

<hr>
  <h4><b>Proprietà Correlate:</b></h4>
  <% @correlated.each do |p| %>
    <table class='correlated'>
      <% if p.id != @property.id %>
        <% if p.img1.present? %>
          <tr><th><%= image_tag(p.img1.url,size: "90x80") %></th></tr>
        <% end %>
        <tr><th><b><%= p.title %></b></th></tr>
        <tr><th><%= p.price %></th></tr>
        <tr><th><%= link_to "Vedi", property_path(p) %></th></tr>
      <% end %>
    </table>
  <% end %>
<br class='clear'>

<% if current_user != nil %>
  <hr><h3>Link utili:</h3>
	<% if current_user.favourites.exists?(@property.id) %>
		<%= link_to "Rimuovi dai preferiti", remove_from_f_property_path(@property), method: :post %><p/>
	<% else %>
		<%= link_to "Aggiungi ai preferiti", add_to_f_property_path(@property), method: :post %><p/>
	<% end %>

	<% if current_user.followings.exists?(@property.user.id) %>
		<%= link_to "Unfollow utente", unfollow_path(@property), method: :post %><p/>
	<% else %>
		<%= link_to "Follow utente", follow_path(@property), method: :post %><p/>
	<% end %>
<% end %>
