<script>
  var set_stars = function(form_id, stars) {
    for (i=1; i<=5; i++) {
      if(i <= stars) {
        $('#' + form_id + '_' + i).addClass('on');
      } 
      else {
        $('#' + form_id + '_' + i).removeClass('on');
      }
    }
  }  

  $(function() {
    $('.rating_star').click(function() {
      var star = $(this);
      var form_id = $(this).attr('data-form-id');
      var stars = $(this).attr('data-stars');
      set_stars(form_id,stars);
        
      $('#' + form_id + '_stars').val(stars);
        
      $.ajax({
        type: "post",
        url: $('#' + form_id).attr('action'),
        data: $('#' + form_id).serialize()
      });
    });
  });
</script>

<h2>Titolo: <%= @property.titolo %></h2>
<p>Descrizione: <%= @property.descrizione %></p>
<p>Prezzo: <%= @property.prezzo %>€</p>
<p>Valutazione: <%= @property.valutation %></p>
<p>Città: <%= @property.city %></p>

<p>
  Categorie:
  <% @property.categories.each do |c| %>
    <%= c %>
  <% end %>
</p>

<p>Inserzione di:
<% if @property.user.provider == nil %>
    <%= @property.user.username %></p>
<% else %>
    <%= @property.user.name %></p>
<% end %>

<% if @property.img1.present? %>
  <%= image_tag @property.img1.url(:medium) %>
<% end %>

<% if @property.img2.present? %>
  <%= image_tag @property.img2.url(:medium) %>
<% end %>

<% if @property.img3.present? %>
  <%= image_tag @property.img3.url(:medium) %>
<% end %>


<br />
<br />
<hr />

<p>
  <strong>Proprietà nelle vicinanze:</strong>
  <% for p in @property.nearbys(10) %>
  <li>
    <%= link_to p.titolo, p %>, in  <%= p.city %> (<%= p.distance.round(2)%> km)
  </li>
  <% end %>
</p>
<p>


<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=500x350&maptype=roadmap
&markers=color:red%8Clabel:S%7C#{@property.latitude},#{@property.longitude}
&key=AIzaSyB4bGTS4lIxDUcOJC8YZM3eAuyg-4JYPfQ "%>

</p>

<br />
<hr />
<p><%= mail_to @property.user.email, "Vuoi prenotare? Contatta l'utente", subject: @property.titolo %></p>

<p><a class="twitter-share-button"
  href="https://twitter.com/share"
  data-size="large"
  data-text="Guarda questo locale: "
  data-url="https://dev.twitter.com/web/tweet-button"
  data-hashtags="example,demo"
  data-via="twitterdev"
  data-related="twitterapi,twitter">
  <img src="http://tweetforprofits.com/UltraVid/images/share-twitter.png" style="width:210px;height:45px;">
</a></p>

<p>
<% if current_user != @property.user %>
  <%= link_to "Vedi altro dall'utente", summary_path(@property), method: :get %>
<% end %>
</p>

<p><% if @property.user == current_user %>
	<%= link_to "Modifica", edit_property_path(@property) %>
	<%= link_to "Elimina", property_path(@property),
			method: :delete,
		        data: {confirm: 'Are you sure?'},
			:class => 'btn btn-danger' %>
<% end %></p>

<!-- ##########RECENSIONI########## -->

<hr><h2>Recensioni</h2>
<% @property.reviews.each do |review| %>

  <p>
    <% if current_user.provider == nil %>
      <h2><%= review.user.username %></h2>
      <%= image_tag review.user.avatar.url(:small) %>
    <% else %>
      <h2><%= review.user.name %></h2>
      <%= image_tag review.user.image %>
    <% end %>
    <br>
    Titolo: <%= review.title %>
    <br><br>
    Descrizione:
    <p><%= review.body %></p>
    Valutazione: <%= review.valutation %>
  </p>
  <% if current_user == review.user %>
    <%= link_to 'Elimina', [review.property, review],
            method: :delete,
            data: { confirm: 'Sei sicuro?' } %>
  <% end %>
<% end %>

<br><br>

<% if current_user != nil %>
  <h2>Scrivi una recensione:</h2>
  <%= form_for([@property, @property.reviews.build]) do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      Valutazione: <%= f.select :valutation, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']%>
    </p>
    <p>
      <%= f.submit "Invia" %>
    </p>
  <% end %>
<% end %>

<!-- ##########DOMANDE########## -->

<hr><h2>Domande</h2>
<ul>
  <% @property.questions.each do |question| %>
    <li>
      <% if question.user.provider == nil %>
        <%= question.user.username %>
      <% else %>
        <%= question.user.name %>
      <% end %><br>
      <strong>-</strong><%= question.body %><br>
      
      Valutazione media:
      <% if question.ratings %>
        <% rating_count = question.ratings.count() %>
        <% if rating_count > 0 %>
          <%= question.ratings.sum(:stars) / rating_count %>
        <% else %>
          0
        <% end %>
      <% end %>
      
      <% if question.user != current_user %>
        <ul class='rating'>
          <% form_id = "question_#{question.id}_rating" %>
          <%= form_for question.ratings.last || question.ratings.build, :html => {:id => "question_#{question.id}_rating" } do |f| %>
            <%= f.hidden_field :question_id %>
            <%= f.hidden_field :stars, :id => "#{form_id}_stars" %>
          <% end %>
          
          <% stars = 0 %>
          <% question.ratings.each do |r| %>
            <% if current_user.ratings.find_by(:id => r.id) %>
              <% stars = r.stars %>
            <% end %>
          <% end %>
          
          <% (1..5).each do |i| %>
            <% if i <= stars %>
              <li class="rating_star on" data-stars="<%= i %>" data-form-id = "<%= form_id %>" id= "<%= "#{form_id}_#{i}" %>"></li>
            <% else %>
              <li class="rating_star" data-stars="<%= i %>" data-form-id = "<%= form_id %>" id= "<%= "#{form_id}_#{i}" %>"></li>
            <% end %>
          <% end %>
        </ul><br>
      <% end %>

      <%= link_to 'Vedi risposte', property_question_path(question) %>
      <% if current_user == question.user %>
        <%= link_to 'Elimina', [question.property, question],
                 method: :delete,
                 data: { confirm: 'Sei sicuro?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if current_user != nil %>
  <h2>Fai una domanda:</h2>
  <%= form_for([@property, @property.questions.build]) do |f| %>
    <p>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit "Invia" %>
    </p>
  <% end %>
<% end %>

<hr>
  <h4>Proprietà Correlate:</h4>
  <% Property.where(categories: @property.categories).find_each do |p| %>
    <table class='correlated'>
      <% if p.id != @property.id %>
        <% if p.img1.present? %>
          <tr><th><%= image_tag(p.img1.url,size: "90x80") %></th></tr>
        <% end %>
        <tr><th><b><%= p.titolo %></b></th></tr>
        <tr><th><%= p.prezzo %></th></tr>
        <tr><th><%= link_to "Vedi", property_path(p) %></th></tr>
      <% end %>
    </table>
  <% end %>
<br class='clear'>

<hr><h3>Link utili:</h3>

<% if current_user != nil %>
	<% if current_user.favourites.exists?(@property.id) %>
		<%= link_to "Rimuovi dai preferiti", remove_from_f_property_path(@property), method: :post %><p/>
	<% else %>
		<%= link_to "Aggiungi ai preferiti", add_to_f_property_path(@property), method: :post %><p/>
	<% end %>

	<% if current_user.followings.exists?(@property.user.id) %>
		<%= link_to "Unfollow utente", unfollow_path(@property), method: :post %><p/>
	<% else %>
		<%= link_to "Follow utente", follow_path(@property), method: :post %><p/>
	<% end %>
<% end %>
