<h2><%= @property.titolo %></h2>
<p><%= @property.descrizione %></p>
<p><%= @property.prezzo %>€</p>
Inserzione di: <%= @property.user.email %><hr>

<% if @property.user == current_user %>
	<%= link_to "Modifica", edit_property_path(@property) %>
	<%= link_to "Elimina", property_path(@property),
			method: :delete,
		        data: {confirm: 'Are you sure?'},
			:class => 'btn btn-danger' %>
<% end %>
<hr>
<%= link_to "Index", properties_path %>
