<center>
<h1>Welcome!</h3>
<h2>Buongiornissimo! Qui puoi cercare locali.</h2>
<br/>
<%= form_tag("/welcome/results", method: :get) do %>
  <%= label_tag(:city, "Inserisci la località:") %>
  <%= text_field_tag(:city, nil, required: true) %>

  <hr>

  <p><%= label_tag("Filtraggio per categorie:") %></p>

  <table>
    <tr>
      <th><%= label_tag(:categories, "Tipologia di acquisto") %></th>
      <th><%= label_tag(:categories, "Tipologia di proprietà") %></th>
      <th><%= label_tag(:categories, "Preferenza fascia oraria") %></th>
      <th><%= label_tag(:categories, "Preferenza stanza") %></th>
    </tr>
    <tr>
      <td>
        <%= select_tag :categories, options_for_select(["Affitto", "Prenotazione"]),
        include_blank: false, multiple: true %>
     </td>

       <td>
         <%= select_tag :categories, options_for_select(["Abitazione", "B&B",
         "Casa Vacanza", "Attività Commerciale"]),
         include_blank: false, multiple: true %>
      </td>

      <td>
        <%= select_tag :categories, options_for_select(["Mattina", "Pomeriggio", "Sera", "Più giorni"]),
           include_blank: false, multiple: true %>
      </td>

      <td>
        <%= select_tag :categories, options_for_select(["Intera Casa", "Stanza Condivisa",
          "Stanza Privata"]),
           include_blank: false, multiple: true %>
      </td>
    </tr>
  </table>
  <br/><%= submit_tag("Search") %>

<% end %>
</center>

<hr/>
<h4>
  Proprietà in offerta:
</h4>

<% @on_sale.each do |p| %>
  <tr>

      <td>
        <h3><%= p.titolo%></h3>
        <%= image_tag p.img1.url(:thumb) %><br>
        <del><%= p.prezzo %>€</del> <font color="red"> <%= p.offer %>€</font><br>
        <%= link_to "Vedi", property_path(p) %>

      </td>


    <br />
  </tr>
<% end %>
<hr />

<h4>
  Proprietà aggiunte ultimamente:
</h4>


<% @newest.each do |p| %>
  <tr>

      <td>
        <h3><%= p.titolo %></h3>
        <%= image_tag p.img1.url(:thumb) %><br>
        <%= link_to "Vedi", property_path(p) %>
      </td>


    <br />
  </tr>

<% end %>
<hr/>
<script>
function initAutocomplete() {


  // Create the search box and link it to the UI element.
  var input = document.getElementById('city');
  var searchBox = new google.maps.places.SearchBox(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }


  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQIh8MGEehUptz2u7vr8JbRvyvB6mA4M8&libraries=places&callback=initAutocomplete"
   async defer></script>
