<h1>Welcome!</h1>
<p><h3>Buongiornissimo! Qui puoi cercare località.</h3></p>
<%= form_tag("/welcome/results", method: :get) do %>
  <%= label_tag(:city, "Inserisci la città:") %>
  <%= text_field_tag(:city) %>

  <hr>
  <%= label_tag("Filtraggio per categorie:") %> <br><br>

  <%= label_tag(:categories, "Tipologia di acquisto") %><br>
  <%= select_tag :categories, options_for_select([["Affitto", "Affitto"], ["Prenotazione", "Prenotazione"]]), :include_blank => "Seleziona una o più categorie", :multiple => true %><br>

  <%= label_tag(:categories, "Tipologia di proprietà") %><br>
  <%= select_tag :categories, options_for_select([["Abitazione", "Abitazione"], ["B&B", "B&B"], ["Casa Vacanza", "Casa Vacanza"], ["Attività Commerciale", "Attività Commerciale"]]), :include_blank => "Seleziona una o più categorie", :multiple => true %><br>

  <%= label_tag(:categories, "Preferenza fascia oraria") %><br>
  <%= select_tag :categories, options_for_select([["Mattina", "Mattina"], ["Pomeriggio", "Pomeriggio"], ["Sera", "Sera"], ["Più Giorni", "Più Giorni"]]), :include_blank => "Seleziona una o più categorie", :multiple => true %><br>

  <%= label_tag(:categories, "Preferenza stanza") %><br>
  <%= select_tag :categories, options_for_select([["Intera Casa", "Intera Casa"], ["Stanza Condivisa", "Stanza Condivisa"], ["Stanza Privata", "Stanza Privata"]]), :include_blank => "Seleziona una o più categorie", :multiple => true %><br>

  <%= submit_tag("Search") %>
<% end %>

<h4>Più valutati:</h4><br>
<% Property.order(:valutation).limit(10).each do |p| %>
  <table class='correlated' >
    <% if p.img1.present? %>
      <tr><th><%= image_tag(p.img1.url,size: "90x80") %></th></tr>
    <% end %>
    <tr><th><b><%= p.titolo %></b></th></tr>
    <tr><th><%= p.prezzo %></th></tr>
    <tr><th><%= link_to "Vedi", property_path(p) %></th></tr>
  </table>
<% end %>
<br class='clear'>

<h4>Più recensiti:</h4>
<% Review.group(:property_id).count().each do |r| %>
  <% p = Property.find(r.first) %>
  <table class='correlated' >
    <% if p.img1.present? %>
      <tr><th><%= image_tag(p.img1.url,size: "90x80") %></th></tr>
    <% end %>
    <tr><th><b><%= p.titolo %></b></th></tr>
    <tr><th><%= p.prezzo %></th></tr>
    <tr><th><%= link_to "Vedi", property_path(p) %></th></tr>
  </table>
<% end %>

<script>
  function initAutocomplete() {
    // Create the search box and link it to the UI element.
    var input = document.getElementById('city');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
  
    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });
  
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();
  
      if (places.length == 0) {
        return;
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQIh8MGEehUptz2u7vr8JbRvyvB6mA4M8&libraries=places&callback=initAutocomplete"
   async defer></script>
