<h1>Questo è il tuo profilo. Ecco le tue informazioni:</h1>

<h2>Avatar: </h2>
<% if current_user.provider == nil %>
  <%= image_tag @me.avatar.url(:medium) %>
<% else %>
  <%= image_tag current_user.image %>
<% end %>

<h2>Email: </h2>
<%= @me.email %>

<h2>Username: </h2>
<% if current_user.provider == nil %>
  <%= @me.username %>
<% else %>
  <%= current_user.name %>
<% end %>

<h2>Creato: </h2>
<%= @me.created_at %><p/>

<%= link_to "Modifica info", edit_user_registration_path %>
