<h1>Questo è il tuo profilo. Ecco le tue informazioni:</h1>

<h2>Avatar: </h2>
<p><%= image_tag @me.avatar.url(:small) %></p>

<h2>Email: </h2>
<p><%= @me.email %></p>

<h2>Username: </h2>
<p><%= @me.username %></p>

<h2>Le tue inserzioni: </h2>
<p><%= link_to "Link", properties_path %></p>

<h2>Creato: </h2>
<p><%= @me.created_at %></p>

<p><%= link_to "Modifica info", edit_user_registration_path %></p>
