<!DOCTYPE html>
<html>
  <head>
    <title>Omega</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Ω", welcome_index_path %>
    <% if user_signed_in? %>
      <%= link_to "Profilo", welcome_profile_path %>
      <%= link_to "Mie inserzioni", properties_path %>
      <%= link_to "Esci", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Accedi", new_user_session_path %>
      <%= link_to "Registrati",  new_user_registration_path %>
    <% end %>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <hr/>
    <p><a href="mailto:dabbraccio.francesco@gmail.com">Contattaci</a></p>
  </body>
</html>
